
<div class="wrapper fadeInDown" style="padding-top: 180px">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <br>
          <div class="fadeIn first">
                <i class="fa fa-user" aria-hidden="true" >Forget Password</i>
            
          </div>
      
          <!-- Login Form -->
          <form [formGroup]="forgetPasswordForm" (submit)="forgetPassword()">
              <br>
            <input type="text"             
            class="fadeIn second" 
            formControlName="u_email"
            placeholder="Email ID"><br>
            <span class="help-block" *ngIf="!forgetPasswordForm.get('u_email').valid && forgetPasswordForm.get('u_email').touched">*Please Enter Valid Email</span>
    
                   
             <br>    
                   
            
            <input type="submit" class="fadeIn fourth" value="Send Mail" [disabled]="!forgetPasswordForm.valid">
            
            
           
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
           
          </div>
      
        </div>
      </div>
    
    
    