<div class="wrapper fadeInDown" style="padding-top: 180px">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <br>
        <div class="fadeIn first">
            <i class="fa fa-user" aria-hidden="true">Change Password</i>

        </div>

        <!-- Login Form -->
        <form [formGroup]="changePasswordForm" (submit)="changePassword()">
            <br>
           

            <input type="password" class="fadeIn third" formControlName="u_password" placeholder="New Password">
            <br>
            <span class="help-block"
                *ngIf="!changePasswordForm.get('u_password').valid && changePasswordForm.get('u_password').touched">*Required, At-least
                1 Capital, At-least 1 number, At-least 1 small char, Min-8, Max-20</span>

            <input type="password" class="fadeIn third" formControlName="c_password" placeholder="Confirm-Password">
            <br>
            <span class="help-block"
                *ngIf="changePasswordForm.get('c_password').valid && changePasswordForm.get('c_password').touched && changePasswordForm.get('c_password').value !== changePasswordForm.get('u_password').value">*Required
                Same password as above</span>
            <br>
            <input type="submit" class="fadeIn fourth" value="Change Password" [disabled]="!changePasswordForm.valid">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">

        </div>

    </div>
</div>