<app-error></app-error>
<br>
<div class="container">
  <h2>Group Member</h2>
  <br>
  <div>
    <input type="button" class="btn btn-success" value="+ SattleUp" *ngIf="status=='unpaid'" (click)="sattleup(id)"
      >

  </div>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Amount</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>{{member?.u_name}}</td>
        <td>{{member?.amount}}</td>
        <td>{{member?.status}}</td>

      </tr>

    </tbody>
  </table>
</div>