
<app-error></app-error>
<div class="wrapper fadeInDown" >
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <br>
          <div class="fadeIn first">
                <i class="fa fa-user" aria-hidden="true" >Welcome : {{userName}}</i>
            
          </div>
      
          <!-- Login Form -->
         <br>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
                <label for="">Bill Split Application</label>
          </div>
      
        </div>
      </div>
    
    
    